*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: bisque;
}
.container{
    background-color: aqua;
}

#title{
    color: darkgreen;
}

.city{
    background-color: blue;
}

